.Product-Wrapper_disabled {
  border: 4px solid #b3b3b3;
  cursor: not-allowed;
}
.Product-Wrapper_disabled:before {
  border-bottom: 4px solid #b3b3b3;
}
.Product-Wrapper_disabled::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid #b3b3b3;
  background: rgb(199, 210, 211);
  opacity: 0.5;
}
.Product-Weight_disabled {
  background-color: #b3b3b3;
  color: #ffffff;
}

.Product-Title_disabled {
  opacity: 0.5;
}

.Product-Subtitle_disabled {
  opacity: 0.5;
}
